@using System.Collections
@using Domain
@using MVC.Models.Order

@{ViewBag.Title = "Order";}
@section Scripts
{
    <script src="@Url.Content("~/Scripts/Order/index.js")" type="text/javascript"></script>
}

<div id="page">
	<div id="page-bgtop">
		<div id="page-bgbtm">
			<div id="menu">
				<ul>
					<li><a href="@Url.Action("Index","Home")">Home</a></li>
                    <li class="current_page_item"><a href="@Url.Action("Index","Order")">Order</a></li>
                    <li><a href="@Url.Action("ViewPastOrders","Order")">Past Orders</a></li>
				</ul>
			</div>

			<div id="content">
                <div>
                    <h1>Items available to purchase</h1>
                    <ul class="product_list">
                        <li class="header clearfix">
                            <div class="product_description">Description</div>
                            <div class="product_price">Price</div>
                            <div class="product_quantity">Quantity</div>
                        </li>
                    </ul>

                    <ul class="product_list" data-bind="foreach: items">
                        <li class="clearfix">
                            <form data-bind="submit: $parent.addItem">
                                <input type="hidden" data-bind="attr: { id: 'item_id_' + id, name: 'item_id_' + id, value: id }" />
                                <div class="product_description" data-bind="text: description"></div>
                                <div class="product_price" data-bind="text: formatCurrency(price)"></div>
                                <div class="product_quantity"><input type="text" data-bind="attr: { id: 'item_quantity_' + id, name: 'item_quantity_' + id }" style="width: 50px;" value="1" /></div>
                                <div class="product_submit"><input type="submit" value="Add to order" /></div>
                            </form>
                        </li>
                    </ul>
                </div>

                <p></p>

                <div data-bind="visible: itemsToOrder().length > 0">
                    <h1>Items to Order</h1>
                    <form action="@Url.Action("Save", "Order")" method="POST">
                        <table>
                            <thead>
                                <tr>
                                    <th align="left">Item</th>
                                    <th align="left">Quantity</th>
                                    <th align="left">Price</th>
                                    <th align="left">Total</th>
                                </tr>
                            </thead>         
                            <tbody data-bind="foreach: itemsToOrder">
                                <tr>
                                    <td data-bind="text: description"></td>
                                    <td data-bind="text: quantity"></td>
                                    <td data-bind="text: formatCurrency(price)"></td>
                                    <td data-bind="text: formatCurrency(price * quantity)"></td>
                                </tr>
                            </tbody>
                        </table>

                        <input type="submit" value="Submit order" />
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
